<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Demo</title>
      <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="Navigation">Navigate :
		<a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('signup') }}">Sign Up</a>
	</div>
    <hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<span class="message-style">{{message}}</span><br/>
		{% endfor %}
	{% endif %}
	{% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>